text {
  font: 10px sans-serif;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}


.scatter_plot {
    position: absolute;
}

#scatter_plot_canvas {
    z-index: 2;
}

#scatter_plot_svg {
    z-index: 1;
}

.confusion_plot {
    position: absolute;
}

#confusion_plot_canvas {
    z-index: 2;
}

#confusion_plot_svg {
    z-index: 1;
}

.g{
  display: inline-block;
}

.node{
  border-width: 20px;
  border-style:solid;
  border-color:red;
  opacity: 0.8;
  background-color: "red";
  stroke: "red";
}

.nodeuser{
  border-width:5px;
  opacity: 0.5;
  background-color: "blue";
  stroke: "blue";
}
/* 
span{
    font-size:15pt;
} */
